<div class="container margin-top60">

  <div class="row" align="center">
  	<h3><strong>有名スポットマップ</strong></h3>

  	<div id='map'>
  	

  	</div>

    <style>
      #map {
          height: 600px;
          width: 1000px;
      }
    </style>

    <script>
      let map
      let geocoder
      var infoWindow;


	      function initMap(){
	          geocoder = new google.maps.Geocoder()

	          map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat:34.976679, lng:138.946662},
	          zoom: 10,
	        });

	      <% @places.each do |place| %>
	        marker = new google.maps.Marker({
	        position:  {lat:<%= place.latitude %> , lng:<%= place.longitude %>},
	        map: map
	         });

			  //       infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
			  //       	content: '<div class="map"><%= link_to place.placename, admin_place_path(place) %></div>' // 吹き出しに表示する内容
					// });

					var msg = '<div class="map"><%= link_to place.placename, admin_place_path(place) %><br>					<%= attachment_image_tag @place, :image, format: 'jpeg', fallback: "noImage1x1.jpg", size: "200x150" %></div>'
	        attachMessage(marker, msg)
			marker.addListener('click', function() { // マーカーをクリックしたとき
				infoWindow.open(map, marker); // mapみmakerをの吹き出しの表示します
			});

	      <% end %>
	      }

	      function attachMessage(marker, msg) { 
	      	google.maps.event.addListener(marker, 'click', function() { showInfoWindow(this,msg); });

	       } 

	      var infowindow;
	      function showInfoWindow(obj,msg){ /* 既に開かれていたら閉じる */ 

	          if(infowindow) infowindow.close();          
	          infowindow = new google.maps.InfoWindow({         
				/*リックしたマーカーのタイトルと緯度・経度を情報ウィンドウに表示 */ 
	          content: msg     }); 
	          infowindow.open(map,obj); 
	      } 
	        
	        function codeAddress() {
	         // 入力を取得

	        

	        geocoder.geocode({
	            'address': inputAddress
	        }, function (results, status) {
	            if (status == 'OK') {
	               // map.setCenterで地図が移動
	              map.setCenter(results[0].geometry.location);

	              // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
	              // google.maps.Markerインスタンスを生成
	              var marker = new google.maps.Marker({
	                  map: map,
	                  position: results[0].geometry.location
	               });
	            } else {
	              alert('Geocode was not successful for the following reason: ' + status);
	            }
	        });
	       }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjcpt_pYvR_ievhXi8HMnq74q4PzUTYx4&callback=initMap" async defer>
      </script>
  </div>
 </div>