<div class="container">
  <div class="row margin-top30" align="center">
    <h3><strong><i><%= @place.placename %></i></strong></h3><br>
  </div>
  <div class="row backgroundcolor1">
    <div class="col-xs-6 padding-left50">
      <p><%= attachment_image_tag @place, :image, format: 'jpeg', fallback: "noImage1x1.jpg", size: "450x300" %></p>
    </div>

    <div class="col-xs-5" style="margin-left: 30px;">
      <h4><%= @place.explanation %></h4><br>

      <table>
        <tbody>
          <tr>
            <td>エリア</td>
            <td><%= @place.area %></td>
          </tr>
          <tr>
            <td>ホタルの種類</td>
            <td><%= @place.type %></td>
          </tr>
          <tr>
            <td>見頃</td>
            <td><%= @place.admiration_startmonth %><%= @place.admiration_startseason %>旬〜<%= @place.admiration_finishmonth %>月<%= @place.admiration_finishseason %>旬</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="text-align-center">基本情報</h3>
      <table class="a" align="center"> 
        <tbody>
          <tr>
            <td class="a">住所</td>
            <td><%= @place.address %></td>
          </tr>
          <tr>
            <td class="a">電話番号</td>
            <td><%= @place.tel %></td>
          </tr>
          <tr>
            <td class="a">公式サイト</td>
            <td><%=link_to @place.officialsite, @place.officialsite, { :class => "outer", :target => "_blank"} %></td><!-- 外部リンクに設定 -->
          </tr>
          <tr>
            <td class="a">交通アクセス（車）</td>
            <td><%= @place.access_car %></td>
          </tr>
          <tr>
            <td class="a">交通アクセス（公共）</td>
            <td><%= @place.access_public %></td>
          </tr>
          <tr>
            <td class="a">駐車場</td>
            <td><%= @place.parking %></td>
          </tr>
          <tr>
            <td class="a">イベント</td>
            <td><%= @place.event %></td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="row" align="center">
    <h3>マップ</h3>
    <div id='map'></div>

    <style>
      #map {
          height: 400px;
          width: 1000px;
      }
    </style>

    <script>
      let map
      let geocoder

      function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @place.latitude %>, lng:<%= @place.longitude %>},
          zoom: 10,
        });

        marker = new google.maps.Marker({
        position:  {lat:<%= @place.latitude %> , lng:<%= @place.longitude %>},
        map: map
         });
        }

        function codeAddress() {
         // 入力を取得

        

        geocoder.geocode({
            'address': inputAddress
        }, function (results, status) {
            if (status == 'OK') {
               // map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);

              // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              // google.maps.Markerインスタンスを生成
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
               });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
        });
       }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjcpt_pYvR_ievhXi8HMnq74q4PzUTYx4&callback=initMap" async defer>
      </script>
  </div>
  <div class="row margin-top30" align="center">
    <% if admin_signed_in? %>
      <%= link_to '編集する', edit_admin_place_path(@place), class: "btn btn-primary", style: "color: white;" %>
      <%= link_to '削除する', admin_place_path(@place), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger", style: "color: white;" %>
    <% end %>
  </div>
</div>