<div class="container margin-top60 backgroundcolor">
  <div class="row" align="center">
  	<h3><strong>穴場スポット一覧</strong></h3>
    <div class="col-xs-2 col-xs-offset-10">
      <a href="/user/places/new" class="btn-circle-3d">＋</a>
    </div>
  </div>

  <div class="row main">
  		<% @places.each do |place| %>
        <% if place.user_id.present? %>
          <%= link_to user_place_path(place) do %>
      		  <div class="col-xs-3">
      			<table>
      				<tr>
      					<td><%= place.placename %></td>
      				</tr>
      				<tr>
    					   <td><p><i class="fa fa-user "></i><%= place.user.name %></p><%= attachment_image_tag place, :image, format: 'jpeg', fallback: "noImage1x1.jpg", size: "200x150" %>
                 </td>
      				</tr>
              <tr>
                <td><i class="fa fa-comment"></i><%= place.comments.count %>
                
                    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= place.favorites.count %>
                    
                </td>
              </tr>

      				<tr>
      					<td>エリア　<%= place.area %></td>
      				</tr>
              
      			</table>
      		  </div>
          <% end %>
        <% end %>
  		<% end %>

</div>