<div class="container">
  <div class="row margin-top30" align="center">
    <h3><strong><%= @place.placename %></strong></h3><br>
  </div>
  <div class="row backgroundcolor1">
    <div class="col-xs-6">
      <p><%= attachment_image_tag @place, :image, format: 'jpeg', fallback: "noImage1x1.jpg", size: "450x300" %></p>
      <p class="comment">
        <i class="fa fa-comment"></i><a href="#comments"><%= @place.comments.count %></a>

        <span id="favorites_buttons_<%= @place.id %>">
          <%= render partial: 'user/favorites/favorite', locals: { place: @place} %>
        </span>
        <%= link_to "https://twitter.com/share?url=#{request.url}/&hashtags=伊豆ホタル", title: 'Twitter', target: '_blank' do %>
          <i class="fab fa-twitter skyblue" aria-hidden="true"></i>
        <% end %>
      </p>
    
    </div>

    <div class="col-xs-5" style="margin-left: 30px;">
      <h4><%= @place.explanation %></h4><br>

      <table>
        <tbody>
          <tr>
            <td>エリア</td>
            <td><%= @place.area %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <ol>
      <% @place.comments.each do |comment| %>
          <li>
                      
            <a href="#" class="link-author"><i class="fa fa-user"></i><%= comment.user.name %></a>
            
            <span class="comment-date"><i class="far fa-clock"></i><%= comment.created_at.strftime('%Y/%m/%d') %></span><br>
            <span class="comment-entry"><%= comment.body %></span>
            <% if comment.user == current_user%>
              <%= link_to user_place_comment_path(comment.place, comment), method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            <% end %>

          </li>
      <% end %>
    </ol>
  </div>

  <div class="row margin-top10" align="center">
      <%= form_for [@place, @comment], url: user_place_comments_path(@place.id) do |f| %>
  
    
          <%= f.text_area :body, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
  
  </div>
    
  <div class="row margin-top10" align="center">
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20" %>
    <% end %>
  </div>

  <div class="row" align="center">
    <h3>マップ</h3>
    <div id='map'></div>

    <style>
      #map {
          height: 400px;
          width: 1000px;
      }
    </style>

    <script>
      let map
      let geocoder

      function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @place.latitude %>, lng:<%= @place.longitude %>},
          zoom: 10,
        });

        marker = new google.maps.Marker({
        position:  {lat:<%= @place.latitude %> , lng:<%= @place.longitude %>},
        map: map
         });
        }

        function codeAddress() {
         // 入力を取得

        

        geocoder.geocode({
            'address': inputAddress
        }, function (results, status) {
            if (status == 'OK') {
               // map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);

              // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              // google.maps.Markerインスタンスを生成
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
               });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
        });
       }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjcpt_pYvR_ievhXi8HMnq74q4PzUTYx4&callback=initMap" async defer>
      </script>
  </div>
  <div class="row margin-top30" align="center">
    <% if @place.user.name == current_user %>
      <%= link_to '編集する', edit_user_place_path(@place), class: "btn btn-primary", style: "color: white;" %>
      <%= link_to '削除する', user_place_path(@place), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger", style: "color: white;" %>
    <% end %>
  </div>

</div>