<!DOCTYPE html>
<html>
  <head>
    <title>IzuHotaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-expand navbar-dark fixed-top"><!-- 上部に固定 -->
      <div class="container-fluid"><!-- バーの横幅を流動的に変動 -->
          <h1 class="logofront">伊豆</h1><h1 class="logoback"><strong>ホタル</strong></h1>
            <% if user_signed_in? %>
                  <div class="youkoso">
                    ようこそ、<strong><%= current_user.name %></strong> さん！
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </div>
            <% end %>
            <% if admin_signed_in? %>
                  <div class="youkoso">
                    ようこそ、<strong>管理者</strong> さん！
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                  </div>
            <% end %>
      </div>

      <div id="sp-menu">
      <ul class="margin-top100">
        <li><%= link_to "ABOUT", homes_about_path %></li>
        <li><a href="#">エリアから探す</a></li>
        <li><a href="#">地図から探す</a></li>
        <li><a href="#">見頃時期から探す</a></li>
        <li><a href="#">穴場を投稿する</a></li>
        <li><a href="#">穴場をみる</a></li>
        <li><a href="#">注意事項</a></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    </header>
          
    <%= yield %>
  </body>
</html>
